<ModalDialog
    @targetAttachment="center"
    @translucentOverlay={{true}}
                       @onClose={{this.goBack}}
>
    <h1 class="ph5 tac f1 helvetica">{{t "item.new"}}</h1>
    <div class="pa4 flex flex-column">
        <UiForm as |form|>
            <form.label>
                Test
            </form.label>
            <form.input type="text"/>

        </UiForm>

    </div>
</ModalDialog>
