<nav class="static top-0 left-0 db dt-l w-100 border-box pa3 ph5-1 bb bw2">
    <LinkTo class="db v-mid mid-gray link dim f3 ma3"
            @route="application">
        <span class="f2 code di red ttu tracked">red</span><span class="f2 code di black ttu tracked">ti</span>
    </LinkTo>
    <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
        <LinkTo @route="items" class="
                        link dim dark-gray f6 f5-l dib mr3 mr4-l
                        ">{{t "items"}}</LinkTo>
    </div>

</nav>
