<div>

    <div data-test-marker class="dib ws-nowrap" >
        <button type="button" class="bn bg-white pointer" {{on "click" @toggle}} >
            {{#if @open}}
                <FaIcon class="black hover-red" @icon="angle-down"/>
            {{else}}
                <FaIcon class="black hover-red" @icon="angle-right"/>
            {{/if}}
        </button></div>{{yield (hash header="blank")}}
        {{#if @open}}
            {{yield (hash body="blank")}}
        {{/if}}
</div>
