<div>
    {{@model.name}}
</div>
<LinkTo @route="locations.location.transfers" @model={{@model.id}}>
    <Button type="button">
        {{t "location.goToTransfers"}}
    </Button>
</LinkTo>
{{outlet}}
